* {
    box-sizing: border-box;
}

body {
    background: #242424;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 16px;
}

.form_container {
    display: inline-block;
    margin-right: 100px;
    padding: 20px;
    vertical-align: top;
    width: 500px;
}

#map_display {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}

#map_display span {
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    text-align: center;
}

#map_display span.fogged:after {
    background: rgba(34, 34, 34, 0.7);
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

#map_display span.chest {
    color: #e2ba26;
}

#map_display span.chest.open {
    color: #846d16;
}

#map_display span.door {
    color: #966d33;
}

#map_display span.door.open {
    color: #563e1c;
}

#map_display span.player {
    color: #F00;
    font-size: 16px;
    line-height: 16px;
}

#map_display span.floor,
#map_display span.hallway {
    color: #fcf9a6;
}

#map_display span.wall {
    color: #DDDDDD;
}

.response_container {
    border: 5px solid #666;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 40px;
}

ul {
    font-size: .688em;
    list-style: none;
    padding: 0;
    vertical-align: bottom;
}

li {
    padding-bottom: 8px;
}

li.error {
    color: #F00;
}

#response {
    color: #0F0;
    margin: 0;
    padding: 10px;
}

#command {
    background: #242424;
    border: 2px solid #666;
    color: #0F0;
    font-family: inherit;
    font-size: .75em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0 0 6px;
    width: 100%;
}